<fieldset class="inputs">
  <ol>
    <li class="string required" id="mango_tango_dance_partners_<%= index %>_email_input">
      <label for="mango_tango_dance_partners_<%= index %>_email"><%= index.next %>) Dance Partner</label>
      <input id="mango_tango_dance_partners_<%= index %>_email" name="mango_tango[dance_partners][<%= index %>][email]" size="30" type="text" placeholder="Email">
      </li>
  </ol>
</fieldset>
