= form.input :posted_to_facebook, :as => :hidden, :input_html => { :value => true}
= form.input :posted_to_twitter, :as => :hidden, :input_html => { :value => true}
.left#message_area
  = form.input :message, :as => :text, :label => false, :input_html => { :value => default_message_copy, :maxlength =>"130" }
.left#address_area
  = form.input :email, :as => :string, :label => "From", :input_html => { :placeholder => "Your email address here...", :size => 60, :class => "email" }
  .icons
    To:
    %ul
      %li.facebook-icon.selected{:data_hidden_input_id => 'post_posted_to_facebook'}
        = image_tag 'facebook-icon.jpg'
        %span.facebook-check
          = image_tag 'GreenCheckbox.gif'
      %li.twitter-icon.selected{:data_hidden_input_id => 'post_posted_to_twitter'}
        = image_tag 'twitter-icon-sm.png'
        %span.twitter-check
          = image_tag 'GreenCheckbox.gif'

  .submit_button
    = form.commit_button :button_html => { :value => "Deliver" } 

