%h3 Test Accounts
#add_customer_form
  = semantic_form_for Customer.new, :url => '/customers.json?test_mode=true' do |form|
    = form.input :name, :input_html => {  :placeholder => "Name here...", }
    = form.input :uuid, :input_html => {  :placeholder => "UUID here...", }
    = form.input :facebook_user
    = form.input :twitter_user
    = form.input :test_account
    .submit_button
      = form.commit_button :button_html => { :value => "Create User" } 

%h3 Test Messages
#post_message_form
  = semantic_form_for @post, :url => '/posts.json?test_mode=true' do |form|
    #message_area
      = form.input :message, :as => :text, :label => "Message", :input_html => { :maxlength =>"130", :class => 'required', :placeholder => "Your message here...", }
    #address_area
      %label{:for => :uuid} UUID
      %input{:id => :UUID, :name=>"uuid", :placeholder=>"Your uuid here...", :size=>"40", :type=>"text"}
    .submit_button
      = form.commit_button :button_html => { :value => "Deliver Message" } 





