!!!
%html
%head
  %title Punchbowl
  = stylesheet_link_tag "formtastic", "formtastic_changes"
  = javascript_include_tag  "jquery-1.4.2.min",  "application", "jquery.punchbowl"
  = csrf_meta_tag 
%body
  #wrap
    #header
      %p{:class=>"notice"}= notice 
      %p{:class=>"alert"}= alert 
      = yield :header_tag
      = yield 


